@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
html {
  scroll-behavior: smooth; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.container {
  width: 90%;
  margin: auto; }

a {
  text-decoration: none;
  color: inherit; }

.icons i {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem;
  transition: .5s ease-in-out; }

.icons .fa-facebook:hover {
  background-color: #304C89;
  color: #fff; }

.icons .fa-twitter:hover {
  background-color: #6a8bd1fa;
  color: #fff; }

.icons .fa-instagram:hover {
  background-color: #f54773;
  color: #fff; }

.icons .fa-linkedin:hover {
  background-color: #304C89;
  color: #fff; }

.icons .fa-github:hover {
  background-color: rgba(0, 0, 0, 0.822);
  color: #fff; }

.btn-custom {
  display: inline-block;
  background-color: inherit;
  border-radius: 7px;
  border: 1px solid #000;
  text-transform: uppercase;
  padding: 1rem;
  position: relative;
  overflow: hidden; }
  .btn-custom::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -110%;
    left: 0rem;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    transform: scale(1.7);
    background-color: #000;
    transition: all .5s ease-in; }

.btn-custom:hover::after {
  bottom: 110%; }

.active {
  background-color: #000; }

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%; }

.middleX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.photo {
  height: 10rem;
  width: 10rem; }
  .photo img {
    height: 100%;
    width: 100%; }

.text-center {
  text-align: center; }

.circle {
  clip-path: circle(50% at 50% 50%); }

.heading-lg {
  font-weight: 200;
  font-size: 2rem;
  text-transform: uppercase; }

.heading-md {
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase; }

.heading-sm, .heading-sm-2 {
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase; }

.heading-sm-2 {
  opacity: 0.5; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  70% {
    opacity: 0.6;
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    opacity: 0.6;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn {
  padding: 1rem 2.3rem;
  background: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  transition: .5s ease-in-out;
  color: #23303e; }
  .btn:hover {
    background: rgba(255, 255, 255, 0.308);
    color: #fff; }

.btn-fancy {
  display: inline-block;
  position: relative;
  font-family: "Fraunces", Arial, Helvetica, sans-serif;
  color: #23303e; }
  .btn-fancy::after {
    content: "";
    position: absolute;
    background-color: #fad400;
    opacity: 0.6;
    bottom: 0;
    left: 0px;
    z-index: -1;
    width: 100%;
    min-height: 50%;
    border-radius: 20px; }

.btn-fancy-1::after {
  background-color: #fad400; }

.btn-fancy-2::after {
  background-color: #fe7867; }

a.btn-fancy {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px; }

.main-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  color: white;
  text-transform: capitalize;
  font-family: "Barlow", Arial, Helvetica, sans-serif; }
  .main-header .btn {
    font-weight: 700;
    font-family: "Fraunces", Arial, Helvetica, sans-serif; }

.home {
  background-image: url("../images/image-header.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
  font-family: "Fraunces", Arial, Helvetica, sans-serif; }

.home-hero {
  margin-top: 3rem;
  color: #fff;
  font-size: 3.5rem;
  text-transform: uppercase;
  word-spacing: 6px;
  letter-spacing: 5px; }

.mobile-nav {
  display: none; }

.arrow {
  margin-top: 5rem; }

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center; }

.text {
  padding: 8rem; }
  .text h2 {
    font-size: 2.4rem;
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
    color: #23303e; }
  .text p {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    line-height: 25px;
    color: #818498; }

.photo {
  width: 100%;
  height: 100%; }

.ph-text {
  position: relative; }

.text-2 {
  position: absolute;
  bottom: 2rem;
  left: 0;
  text-align: center;
  padding: 3rem 9rem; }
  .text-2 h2 {
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
    font-size: 1.7rem;
    font-weight: 900; }
  .text-2 p {
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    line-height: 25px; }

.graphic {
  color: #25564b; }

.photography {
  color: #19536b; }

.testimonial {
  text-align: center;
  margin-top: 9rem;
  margin-bottom: 8rem; }
  .testimonial h2 {
    font-size: 1.2rem;
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 10px;
    color: #a7abae; }

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: auto; }
  .testimonial-grid .profile-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%; }
    .testimonial-grid .profile-img img {
      height: 100%;
      width: 100%;
      border-radius: 50%; }
  .testimonial-grid .client {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 0.5rem; }
    .testimonial-grid .client p {
      font-family: "Barlow", Arial, Helvetica, sans-serif;
      font-size: 18px;
      color: #5a636c;
      line-height: 30px; }
    .testimonial-grid .client .bold {
      font-family: "Fraunces", Arial, Helvetica, sans-serif;
      color: #23303e;
      font-weight: 900; }
    .testimonial-grid .client .faint {
      color: #a7abae;
      text-transform: capitalize;
      font-size: 13px; }

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.main-footer {
  color: #458c7e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  background-color: rgba(97, 212, 189, 0.74); }
  .main-footer h2 {
    font-family: "Fraunces", Arial, Helvetica, sans-serif;
    font-size: 2rem; }
  .main-footer ul {
    padding: 0;
    list-style: none; }
  .main-footer li {
    display: inline-block;
    font-family: "Barlow", Arial, Helvetica, sans-serif;
    transition: .2s; }
    .main-footer li:not(:last-child) {
      padding-right: 2rem; }
    .main-footer li:hover {
      color: #fff; }
  .main-footer a {
    display: inline-block;
    transition: .2s; }
    .main-footer a:not(:last-child) {
      padding-right: 1.3rem; }

@media (max-width: 1000px) {
  .home {
    background-image: url("../images/desktop/image-header.jpg");
    max-height: 50vh;
    background-position: top; }
  .home-hero {
    margin-top: 5rem;
    font-size: 2.5rem; }
  .arrow {
    margin-top: 2rem; }
  .text {
    padding: 3rem; }
    .text h2 {
      font-size: 1.2rem; }
    .text p {
      font-size: 0.7rem; }
  .text-2 {
    bottom: 0rem;
    text-align: center;
    padding: 1rem 3rem; }
    .text-2 h2 {
      font-family: "Fraunces", Arial, Helvetica, sans-serif;
      font-size: 1rem; } }

@media (max-width: 700px) {
  .home {
    background-image: url("../images/mobile/image-header.jpg");
    max-height: 60vh;
    background-size: cover;
    background-position: bottom; }
    .home .nav {
      display: none; }
    .home .header {
      position: relative; }
  .home-hero {
    margin-top: 6rem;
    color: #fff;
    font-size: 3.1rem;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: 5px; }
  .mobile-nav {
    display: block;
    position: absolute;
    top: 2rem;
    right: 1rem; }
  .body {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .body .text {
      padding: 2rem; }
    .body .g1 {
      order: 2; }
    .body .g2 {
      order: 1; }
    .body .g3 {
      order: 3; }
    .body .g4 {
      order: 4;
      margin: 0; }
    .body .g5 {
      margin: 0;
      order: 5;
      height: 35rem; }
    .body .g6 {
      margin-top: -6px;
      order: 6;
      height: 35rem; }
  .text {
    padding: 2rem; }
    .text h2 {
      font-size: 2rem;
      font-family: "Fraunces", Arial, Helvetica, sans-serif;
      color: #23303e; }
    .text p {
      font-family: "Barlow", Arial, Helvetica, sans-serif;
      line-height: 25px;
      color: #818498;
      font-size: 1rem; }
  .text-2 {
    bottom: 2rem;
    padding: 2rem 2rem; }
    .text-2 h2 {
      font-size: 1.7rem; }
  .testimonial h2 {
    font-size: 1rem;
    margin-bottom: 1rem; }
  .testimonial-grid {
    grid-template-columns: 1fr; }
    .testimonial-grid .client {
      margin-top: 5rem; }
  .gallery {
    grid-template-columns: 1fr 1fr; } }
