.btn{
    padding: 1rem 2.3rem;
    background: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .5s ease-in-out;
    color: $desat-blue;
    &:hover{
        background: rgba(255, 255, 255, 0.308);
        color: #fff;
    }
}



.btn-fancy{
    display: inline-block;
    position: relative;
    font-family: $heading-font;
    color: $desat-blue;

    &::after{
        content: "";
        position: absolute;
        background-color: $color-yellow;
        opacity: 0.6;
        bottom: 0;
        left: 0px;
        z-index: -1;
        width: 100%;
        min-height: 50%;
        border-radius: 20px;
    }
}

.btn-fancy-1{
    &::after{
        background-color: $color-yellow;
    }
}

.btn-fancy-2{
    &::after{
        background-color: $color-soft-red;
    }
}



a.btn-fancy{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}