.home{
    background-image: url("../images/image-header.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
    font-family: $heading-font;
    overflow: hidden;
}

.home-hero{
    margin-top: 3rem;
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: 5px;
}

.mobile-nav{
    display: none;
}

.arrow{
    margin-top: 5rem;
}

.mobile-nav-menu{
    display: none;
}