@media (max-width: 1000px) {
    .home{
        background-image: url("../images/desktop/image-header.jpg");
        max-height: 50vh;
        background-position: top;
    }
    .home-hero{
        margin-top: 5rem;
        font-size: 3.5rem;
    }
    .arrow{
        margin-top: 2rem;
    }

    .text{
        padding: 3rem;
        h2{
            font-size: 1.2rem;
        }
        p{
            font-size: 0.7rem;
        }
    }
    .text-2{
        h2{
            font-family: $heading-font;
            font-size: 1rem;
        }
        bottom: 0rem;
        text-align: center;
        padding: 1rem 3rem;
    }
}

@media (max-width: 700px) {
    .home{
        background-image: url("../images/mobile/image-header.jpg");
        max-height: 60vh;
        background-size: cover;
        background-position: bottom;
        .nav{
            display: none;
        }
        .header{
            position: relative;
        }
    }
    .home-hero{
        margin-top: 3.5rem;
        color: #fff;
        font-size: 2.8rem;
        text-transform: uppercase;
        word-spacing: 6px;
        letter-spacing: 5px;
    }

    .mobile-nav{
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
    .body{
        display: flex;
        flex-direction: column;
        text-align: center;
        .text{
            padding: 2rem;
        }
        
        .g1{
            order: 2;
        }
        .g2{
            order: 1;
        }
        .g3{
            order: 3;
        }
        .g4{
            order: 4;
            margin: 0;
        }
        .g5{
            margin: 0;
            order: 5;
            height: 35rem;
        }
        .g6{
            margin-top: -6px;
            order: 6;
            height: 35rem;
        }
    }
    .text{
        padding: 2rem;
        h2{
            font-size: 2rem;
            font-family: $heading-font;
            color: $desat-blue;
        }
        p{
            font-family: $primary-font;
            line-height: 25px;
            color: $d-grayish-blue;
            font-size: 1rem;
        }
    }

    .text-2{
        bottom: 2rem;
        padding: 2rem 2rem;
        h2{
            font-size: 1.7rem;
        }
    }
    .testimonial{
        h2{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
    .testimonial-grid{
        grid-template-columns: 1fr;

        .client{
            margin-top: 5rem;
        }
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
    }
}