@media (max-width: 700px) {
    .home{
        background-image: url("../images/mobile/image-header.jpg");
        max-height: 80vh;
        background-size: cover;
        background-position: bottom;
        overflow: hidden;
        .nav{
            display: none;
        }
        .main-header{
            position: relative;
            z-index: 5;
        }
    }
    .home-hero{
        margin-top: 2rem;
        color: #fff;
        font-size: 2.8rem;
        text-transform: uppercase;
        word-spacing: 6px;
        letter-spacing: 5px;
    }

    .pr-2{
        padding-right: 0;
    }
    .mobile-nav{
        display: block;
        position: absolute;
        top: 2rem;
        right: 1rem;
    }
    .btn{
        background-color: $color-yellow;
        &:hover{
            background-color: $grayish-blue;
        }
    }
    .mobile-nav-menu{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 8rem;
        left: 50%;
        background-color: #fff;
        padding: 2rem 2rem;
        width: 90%;
        height: 20rem;
        transition: .5s ease-in-out;

        .m-nav{
            color: $d-grayish-blue;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            &::before{
                content: "";
                min-height: 8rem;
                min-width: 8rem;
                background-color: #fff;
                position: absolute;
                top: -3rem;
                right: 0;
                clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            }
        }

    }
    .hide{
        transform: translateX(150%);
    }
    .show{
        transform: translateX(-50%)
    }
    .body{
        display: flex;
        flex-direction: column;
        text-align: center;
        .text{
            padding: 2rem;
        }
        
        .g1{
            order: 2;
        }
        .g2{
            order: 1;
        }
        .g3{
            order: 3;
        }
        .g4{
            order: 4;
            margin: 0;
        }
        .g5{
            margin: 0;
            order: 5;
            height: 35rem;
        }
        .g6{
            margin-top: -6px;
            order: 6;
            height: 35rem;
        }
    }
    .text{
        padding: 2rem;
        h2{
            font-size: 2rem;
            font-family: $heading-font;
            color: $desat-blue;
        }
        p{
            font-family: $primary-font;
            line-height: 25px;
            color: $d-grayish-blue;
            font-size: 1rem;
        }
    }

    .text-2{
        bottom: 2rem;
        padding: 2rem 2rem;
        h2{
            font-size: 1.7rem;
        }
    }
    .testimonial{
        h2{
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
    .testimonial-grid{
        grid-template-columns: 1fr;

        .client{
            margin-top: 5rem;
        }
    }

    .gallery{
        grid-template-columns: 1fr 1fr;
    }

    .arrow{
        margin-top: 5rem;
    }
}