.container{
    width: 90%;
    margin: auto;
}

a{
    text-decoration: none;
    color: inherit;
}

.icons{
    i{
        display: inline-block;

        font-size: 1.5rem;
        padding: 1rem;
        
        transition: .5s ease-in-out;
    }

    .fa-facebook:hover{
        background-color: #304C89;
        color: #fff
    }

    .fa-twitter:hover{
        background-color: #6a8bd1fa;
        color: #fff
    }

    .fa-instagram:hover{
        background-color: #f54773;
        color: #fff
    }

    .fa-linkedin:hover{
        background-color: #304C89;
        color: #fff
    }
    .fa-github:hover{
        background-color: rgba(0, 0, 0, 0.822);
        color: #fff
    }
}

.btn-custom{
    display: inline-block;
    background-color: inherit;
    border-radius: 7px;
    border: 1px solid #000;
    text-transform: uppercase;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    
    &::after{
        content: "";
        display: block;
        position: absolute;
        bottom: -110%;
        left: 0rem;
        border-radius: 7px;
        width: 100%;
        height: 100%;
        transform: scale(1.7);
        background-color: #000;
        transition: all .5s ease-in;
    }
}

.btn-custom:hover {
    &::after{
        bottom: 110%;
        
    }
}
.active{
    background-color: #000;
}

.middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.middleX{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.m-auto{
    margin-left: auto;
    margin-right: auto;
}
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mt-5{
    margin-top: 5rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.mb-5{
    margin-bottom: 5rem;
}

.pt-1{
    padding-top: 1rem;
}

.pt-2{
    padding-top: 2rem;
}

.pt-3{
    padding-top: 3rem;
}


.pr-1{
    padding-right: 1rem;
}

.pr-2{
    padding-right: 2rem;
}

.photo{
    height: 10rem;
    width: 10rem;

    img{
        height: 100%;
        width: 100%;
    }
}

.text-center{
    text-align: center;
}

.circle{
    clip-path: circle(50% at 50% 50%);
}

.heading-lg{
    font-weight: 200;
    font-size: 2rem;
    text-transform: uppercase;
}

.heading-md{
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.heading-sm, .heading-sm-2{
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.heading-sm-2{
    opacity: 0.5;
}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    70%{
        opacity: 0.6;
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    80%{
        opacity: 0.6;
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveinBottom{
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
