$color-yellow: hsl(51, 100%, 49%);
$desat-blue: hsl(212, 27%, 19%);
$vd-grayish-blue:hsl(213, 9%, 39%);
$d-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$graphic-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$footer-color: hsl(168, 34%, 41%);
$footer-bg: rgba(97, 212, 189, 0.74);



$primary-font: "Barlow",Arial, Helvetica, sans-serif;
$heading-font: "Fraunces",Arial, Helvetica, sans-serif;